<div class="container">
    <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Silent Night (Pō Laʻi Ē) Lyrics</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="lyrics">
                <span>Silent night, holy night</span>
                <span>All is calm, all is bright</span>
                <span>Round yon virgin mother and child</span>
                <span>Holy infant so tender and mild</span>
                <span>Sleep in heavenly peace</span>
                <span>Sleep in heavenly peace</span>
            </p>
            <p class="lyrics">
                <span>Pō laʻi ē, pō kamahaʻo</span>
                <span>Maluhia, mālamalama</span>
                <span>Ka makuahine alohaʻ ē</span>
                <span>Me ke keiki hemolele ē</span>
                <span>Moe me ka maluahia lani</span>
                <span>Moe me ka maluahia lani</span>
            </p>
            <p class="lyrics">
                <span>Silent night, holy night</span>
                <span>All is calm, all is bright</span>
                <span>Ka makuahine alohaʻ ē</span>
                <span>Me ke keiki hemolele ē</span>
                <span>Moe me ka maluahia lani</span>
                <span>Moe me ka maluahia lani</span>
            </p>
            <p class="lyrics">
                <span>Sleep in heavenly peace</span>
                <span>Moe me ka maluahia lani</span>
            </p>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <a type="button" mat-button href="https://youtu.be/esgDrf53ifM" target="_blank">YouTube Video</a>
        </mat-card-actions>
    </mat-card>
</div>