mat-card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(#181c22, 0);
}

mat-card-content,
mat-card-actions,
mat-card-footer {
    background-color: rgba(#181c22, 0.75);
    backdrop-filter: blur(8px);
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.align-left {
    align-items: flex-start;
}

.card-top {
    border-top-left-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    border-top-right-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
}

.card-bottom {
    border-bottom-left-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    border-bottom-right-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
}

small {
    line-height: normal;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}