<div class="container">
    <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Site Contact Info</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Please contact the site administrator below if there are any questions or problems with this site.</p>
            <p>
                <b>Name:</b> Daniel Cook<br>
                <b>Email:</b> dmc3152&#64;outlook.com
            </p>
        </mat-card-content>
    </mat-card>
</div>