<div class="container">
    <mat-card appearance="raised">
        <mat-card-content class="card-top align-left">
            <span>Name: {{formGroup.controls.name.value}}</span>
            <mat-form-field>
                <mat-label for="code">Buzzer Code</mat-label>
                <input matInput id="code" type="text" [formControl]="formGroup.controls.code">
                <mat-hint>Provided by the game host</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <button mat-button (click)="openDialog()">Change Name</button>
        </mat-card-actions>
    </mat-card>

    <mat-card appearance="raised">
        <mat-card-content class="card-top" [class.card-bottom]="isDisabled()">
            <button class="buzzer-button" [class.disabled]="isDisabled()" (mouseup)="releaseButton()" (press)="pressButton()" (pressup)="releaseButton()" [disabled]="isDisabled()">
                <span class="buzzer-label">{{buzzerText()}}</span>
            </button>

            @if (buzzerAvailability().isPressed) {
                <span>Buzzer has been pressed</span>
            }

        </mat-card-content>
        @if (!isDisabled()) {
        <mat-card-actions class="card-bottom">
            <button mat-button (click)="loadSound()">Change Sound</button>
            @if (isSoundPlaying()) {
            <button mat-button (click)="stopSound()">Stop Sound</button>
            }
        </mat-card-actions>
        }
    </mat-card>
</div>