<div class="container">
    <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Save The Date</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-bottom">
            <mat-list>
                <mat-list-item><b>Date:</b> Friday, December 13</mat-list-item>
                <mat-list-item><b>Time:</b> 6:00pm</mat-list-item>
                <mat-list-item>
                    <b>Location:</b>
                    <mat-list-item>91-1154 North Rd</mat-list-item>
                    <mat-list-item>Ewa Beach</mat-list-item>
                    <mat-list-item>HI 96706</mat-list-item>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Potluck Signup</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>We are very fortunate to have Paco's Tacos catering the main entree this year (carnitas). We need some help with the toppings, sides, and desserts. Please sign up online by clicking on the button below or by contacting the Young Women organization directly.</p>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <a type="button" mat-button href="https://www.signupgenius.com/go/10C0C4EA8A62AA6FCC52-53591579-ewabeach" target="_blank">Click here to sign up</a>
        </mat-card-actions>
    </mat-card>

    <!-- <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Program</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-bottom">
            <p>6:00 - Opening Prayer</p>
            <p>6:05 - Dinner</p>
            <p>7:00 - Program</p>
            <p>7:00 - Primary Song</p>
            <p>7:10 - Games</p>
            <p>7:30 - Hula</p>
            <p>7:40 - Santa</p>
            <p>7:55 - Nativity</p>
            <p>8:30 - Closing Prayer</p>
        </mat-card-content>
    </mat-card> -->

    <!-- <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Christmas Ice Breakers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Did you know this about Christmas?</p>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <button mat-button>See Ice Breakers</button>
        </mat-card-actions>
    </mat-card> -->

    <!-- <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Ward Christmas Family Feud</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>How well do you know the ward members?</p>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <button mat-button>Start Game</button>
        </mat-card-actions>
    </mat-card> -->

    <!-- <mat-card appearance="raised">
        <mat-card-header class="card-top">
            <mat-card-title>Share With Friends</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Click here to share the flyer with friends and family</p>
        </mat-card-content>
        <mat-card-actions class="card-bottom">
            <button mat-button>Share Flyer</button>
        </mat-card-actions>
    </mat-card> -->
</div>