@use '@angular/material' as mat;

.logo {
    margin-right: 8px;
}

.sidenav-container {
    height: 100%;
}

.sidenav .mat-toolbar {
    background: inherit;
}

mat-sidenav-content {
    background-image: url('../../../public/christmas-background.jpg');
    background-size: cover;
    background-position: center;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-button {
    margin-right: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow-y: auto;
    padding: 16px;
}

.outlet-wrapper {
    flex: 1;
}

footer {
    height: min-content;
    align-self: center;
    padding: 16px;
    margin-top: 32px;
    text-align: center;
    font: var(--mat-sys-body-small);
    background-color: rgba(#181c22, 0.75);
    backdrop-filter: blur(3px);
}

:host {
  @include mat.sidenav-overrides((
    container-width: 300px
  ));
}